.container
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      .navbar-header
        a.navbar-brand(href='') <img src="/images/logo.jpg", height="150%">
    ul.nav.navbar-nav
      li.active
        a(href='/') about
